html{
	height:  fit-content;
	width: 100%;
}

body{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(#EA725E, #E96974);
	color: white;
}

.container{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.header-and-nav{
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	border-bottom: 0.1rem lightgray solid;
}

header{

	flex: 1;
}

header img{
	width: 100%;
}

nav{

	flex: 8;
	display: flex;
	justify-content: right;
	align-content: center;
}

.nav-button{
	align-self: center;
	margin: 0.2rem;
	background-color: transparent;
	border: solid 0.1rem white;
	color: white;
	font-family: raleway, sans-serif;
	padding: 0.5rem 1rem;
	display: inline-block;
	border-radius: 0.1rem;
	height: fit-content;
	width: fit-content;
}


main{
	display: flex;
	align-content: center;
	vertical-align: middle;
	margin-top: 3rem;
}

.head1{
	margin-top: auto;
	margin-bottom: auto;
	flex: 2;
}

.head1 h1{
	font-family: 'Anton', sans-serif;
	font-size: 4rem;
	margin-bottom: 0.5rem;
}

.head1 p{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	padding-right: 100px;
}

.button{
	background-color: white;
	border: none;
	color: #EA725E;
	font-family: raleway, sans-serif;
	padding: 0.5rem 1rem;
	display: inline-block;
	font-weight: bolder;
	border-radius: 0.1rem;
	margin-top: 0.5rem;
	height: fit-content;
	width: fit-content;
}

.button:active{
	border: none;
	border-color: white;
}

.head2{
	flex: 1;
}


.head2 img{
	width: 100%;
}

.cards{
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 1024px;
	margin-top: 3rem;
}

.card1{
	background-image: url(img/card1.jpg);
	background-size: cover;
	background-position: right;
	height: 18.5rem;
	width: 18.5rem;
}

.incard1{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
}

.card2{
	background-image: url(img/card2.jpg);
	background-size: cover;
	background-position: center;
	width: 18.5rem;
	height: 18.5rem;
}

.incard2{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100%;
}

.card3{
	background-image: url(img/card3.jpg);
	background-size: cover;
	background-position: bottom;
	width: 18.5rem;
	height: 18.5rem;
}

.incard3{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100%;
}

i{
	font-size: 6rem;
	margin: 2rem 0rem;
}

h2{
	font-family: anton, serif;
	font-size: 2rem;
}

.cards p, .cards a{
	font-size: 1rem;
	font-family: raleway, comic sans, sans-serif;
	margin: 1rem 1.5rem;
	color: white;
	text-decoration: none;
	font-weight: normal;
}

.cards p{
	font-weight: bold;
}

.reviews{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3rem;
}

.review-box{
	width: 47%;
	padding: 1.5rem;
	box-sizing: border-box;
	border: white solid 1px;
	margin-top: 1.92rem;
	margin-bottom: 1.92rem;
	font-family: raleway, sans-serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
}

.review-box p:last-of-type{
	padding: 0rem;
	margin: 0rem;
	font-family: raleway, sans-serif;
	margin-top: 1rem;
	margin-right: 2rem;
	text-align: right;
	font-size: 0.85rem;
}